<h1>The Champions League is the most popular tournament in the world</h1>

<a href="https://www.uefa.com/uefachampionsleague/">UEFA Champions League</a>

<img src="assets/main-img-champions.jpg" alt="">

<h2>
    The UEFA Champions League (abbreviated as UCL) is an annual club football competition organized by the Union of European Football Associations (UEFA) and in which European top division clubs compete. knockout format and singles final.
</h2>

<p>
    The most prestigious European club football tournament. From its first edition in the 1955/56 season until the 1991/92 season it was called the European Champion Clubs' Cup. In the 1991/92 season, the format of the tournament[1] was changed and group tournaments were played after the 1/8 finals.
    Then the anthem and the emblem appeared. Since the 1992/93 season, the tournament has received its current name.
</p>